<%= form_for @user, class: 'user-form' do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this record from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="form-group">
      <%= f.label :username, class: 'control-label' %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email, :class => "control-label" %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= check_box_tag 'user[marli_admin]', class: 'form-control' %>
      <%= f.label 'marli_admin', 'Admin', class: 'control-label' %>
    </div>

    <div class="form-group">
      <%= check_box_tag 'user[marli_exception]', class: 'form-control' %>
      <%= f.label 'marli_exception', 'Exception', class: 'control-label' %>
    </div>
  </fieldset>
  <p>
    <button class="btn" type="submit">Save changes</button>
  </p>
<% end %>
