<h1><%= get_sanitized_detail('title') %></h1>

<h3><%= get_sanitized_detail('subtitle') %></h3>

<p>
  <%= get_sanitized_detail('body_text') %>
</p>

<% if @user.submitted_request %>
<div class="alert alert-info">
  <%=h get_sanitized_detail('already_submitted') %>  (<%= link_to "View confirmation", confirmation_url%>)
</div>
<% end %>

<%= form_for @user, url: {controller: "users", action: "create_registration"}, html: {class: "form-horizontal"} do |f|  %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset<%=h (@user.submitted_request?) ? ' disabled=true' : '' %>>
<div class="well">
  <div class="form-group">
    <%= f.label :fullname, "Name", :class => "required control-label col-md-3"%>
    <div class="col-md-4">
      <%= f.text_field :fullname, disabled: true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dob, "Date of birth", :class => "required control-label col-md-3" %>
    <div class="col-md-4">
      <div class="input-group">
        <%= f.text_field :dob, class: 'form-control' %>
        <span class="input-group-addon">
          <a class="dob-popover" data-class="article-finding" rel="popover" target="_blank" data-original-title="Date of Birth Required" data-content="Date of birth information is required by<br /> Columbia University Library's systems"><i class="glyphicon glyphicon-info-sign"></i></a>
        </span>
        <span id="date_example" class="js_hide">YYYY-MM-DD</span>
      </div>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :school, "School", :class => "required control-label col-md-3" %>
    <div class="col-md-4">
    <%= f.select :school, options_for_select(t('schools'), selected: @user.school), {include_blank: true}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :department, "Department", :class => "control-label col-md-3" %>
    <div class="col-md-4">
    <%= f.text_field :department, value: @user.department, class: 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :barcode, "New York Public Library Barcode", :class => "control-label col-md-3" %>
    <div class="col-md-4">
      <%= f.text_field :barcode, placeholder: "(if applicable)", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-4">
    <label class="checkbox">
      <%= f.check_box :marli_renewal, :checked => renewal_checked? %> Check here if this is a membership renewal
    </label>
    </div>
  </div>

  <input type="submit" class="btn btn-primary" <%= (@user.submitted_request) ? 'disabled' : ''%> value="<%=h get_sanitized_detail('submit') %>"/>
</div>
</fieldset>
<%= f.hidden_field :affiliation_text, value: affiliation_text %>
<% end %>
