<h1><%= get_sanitized_detail('title') %></h1>

<h3><%= get_sanitized_detail('subtitle') %></h3>

<p>
  <%= get_sanitized_detail('body_text') %>
</p>

<% if @user.submitted_request %>
<div class="alert alert-info">
  <%=h get_sanitized_detail('already_submitted') %>  (<%= link_to "View confirmation", confirmation_url%>)
</div>
<% end %>

<%= form_for @user, :url => {:controller => "users", :action => "create_registration"}, :html => {:class => "form-inline form-horizontal clearfix"} do |f|  %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset<%=h (@user.submitted_request?) ? ' disabled=true' : '' %>>
<div class="well">
  <div class="control-group">
    <%= f.label :fullname, "Name", :class => "required control-label"%>
    <div class="controls">
      <%= f.text_field :fullname, :disabled => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dob, "Date of birth", :class => "required control-label" %>
    <div class="controls">
      <%= f.text_field :dob %>
      <a class="dob-popover" data-class="article-finding" rel="popover" target="_blank" data-original-title="Date of Birth Required" data-content="Date of birth information is required by<br /> Columbia University Library's systems"><i class="icons-famfamfam-information"></i></a>
      <span id="date_example" class="js_hide">YYYY-MM-DD</span>
    </div>
  </div>
  <%= f.fields_for :user_attributes do |u| %>
  <div class="control-group">
     <%= u.label :school, "School", :class => "required control-label" %>
     <div class="controls">
       <%= u.select :school, options_for_select(t('schools'), :selected => "#{(!@user.user_attributes[:school].blank?) ? @user.user_attributes[:school] : user_school}"), {:include_blank => true} %>
     </div>
  </div>
  <div class="control-group">
    <%= u.label :department, "Department", :class => "control-label" %>
    <div class="controls">
    <%= u.text_field :department, :value => "#{(!@user.user_attributes[:department].blank?) ? @user.user_attributes[:department] : user_department}" %>
    </div>
  </div>
  <% end %>
  <div class="control-group">
    <%= f.label :barcode, "New York Public Library Barcode", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :barcode, :placeholder => "(if applicable)" %>
    </div>
  </div>
  <%= f.fields_for :user_attributes do |u| %>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <%= u.check_box :marli_renewal, :checked => renewal_checked? %> Check here if this is a membership renewal
      </label>
    </div>
    <button type="submit" class="btn" <%= (@user.submitted_request) ? 'disabled' : ''%>><%=h get_sanitized_detail('submit') %></button>
  </div>
  <% end %>
</div>
</fieldset>
<% end %>