
<h1>Patron: <%=h @user.username %></h1>

<h4>MaRLI Required Information:</h4>

<div id="show_user">
<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd>&nbsp;<%=h @user.firstname %></dd>

  <dt>Last name:</dt>
  <dd>&nbsp;<%=h @user.lastname %></dd>

  <dt>Date of Request:</dt>
  <dd>&nbsp;<%=h @user.submitted_at %></dd>

<% unless @user.address.nil? %>

  <dt>Street address:</dt>
  <dd>&nbsp;<%=h @user.address[:street_address] %></dd>

	<dt>City:</dt>
	<dd>&nbsp;<%=h @user.address[:city] %></dd>

	<dt>State:</dt>
	<dd>&nbsp;<%=h @user.address[:state] %></dd>

	<dt>Postal code:</dt>
	<dd>&nbsp;<%=h @user.address[:postal_code] %></dd>

<% end %>

  <dt>E-mail:</dt>
  <dd>&nbsp;<%=h @user.email %></dd>

  <dt>Home Library:</dt>
  <dd>&nbsp;NYU</dd>

  <dt>Institution ID:</dt>
  <dd>&nbsp;<%=h @user.username %></dd>

  <dt>Affiliation:</dt>
  <dd>&nbsp;<%= @user.affiliation_text %></dd>

  <dt>NYPL Barcode:</dt>
  <dd>&nbsp;<%=h @user.barcode %></dd>
</dl>

<h2>Additional NYU Information:</h2>

<dl class="dl-horizontal">
  <dt>N #:</dt>
  <dd>&nbsp;<%=h @user.aleph_id %></dd>

  <%= form_for @user, :remote => true, :class => "form-inline clearfix" do |f| %>
    <dt>Admin?</dt>
    <dd>
    <%= f.check_box :admin, :checked => @user.admin?, :disabled => (current_user.username == @user.username) %>
    </dd>

    <dt>Exception?</dt>
    <dd>
    <%= f.check_box :override_access, :checked => @user.override_access?, :disabled => (current_user.username == @user.username) %>
    </dd>
    <button type="submit" data-remote="true" class="btn" <%= (current_user.username == @user.username) ? "disabled" : ""%>>Update</button>
  <% end %>
</dl>
</div>

<br />
<%= icon_tag :back %>
<%= link_to 'Back', users_path %>
